<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
  <meta charset="UTF-8">
  <title>Obiekt</title>
</head>
<body>
<h1>Osoba 1:</h1>
<p>Id: <span th:text="${osoba1.id}"></span></p>
<p>Imię: <span th:text="${osoba1.imie}"></span></p>
<p>Nazwisko: <span th:text="${osoba1.nazwisko}"></span></p>
<p>Telefon: <span th:text="${osoba1.telefon}"></span></p>
<p>Mail: <span th:text="${osoba1.mail}"></span></p>

<h1>Osoba 2:</h1>
<p>Id: <span th:text="${osoba2.id}"></span></p>
<p>Imię: <span th:text="${osoba2.imie}"></span></p>
<p>Nazwisko: <span th:text="${osoba2.nazwisko}"></span></p>
<p>Telefon: <span th:text="${osoba2.telefon}"></span></p>
<p>Mail: <span th:text="${osoba2.mail}"></span></p>
</body>
</html>

